<mat-card>
    <h1>Search Courses</h1>
    <form [formGroup]="form" (submit)="searchCourses()" >
        <mat-form-field>
            <mat-label>Key Word</mat-label>
            <input 
            matInput 
            type="text" 
            formControlName="key" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Course Code</mat-label>
            <input 
            matInput 
            type="text" 
            formControlName="code" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Subject</mat-label>
            <input 
            matInput 
            type="text" 
            formControlName="sub">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Component</mat-label>
            <input 
            matInput 
            type="text" 
            formControlName="comp">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" >Search</button>
    </form>
</mat-card>