<mat-toolbar color="primary">
    <ul>
        <li>
            <a mat-button [routerLink]="['/docs/view', 'Privacy-Policy']" routerLinkActive="mat-accent">Privacy-Policy</a>
        </li>
        <li>
            <a mat-button [routerLink]="['/docs/view', 'DMCA-Notice']" routerLinkActive="mat-accent">DMCA-Notice</a>
        </li>
        <li>
            <a mat-button [routerLink]="['/docs/view', 'Acceptable-Use-Policy']" routerLinkActive="mat-accent">Acceptable-Use-Policy</a>
        </li>
    </ul>
</mat-toolbar>
