mat-card{
    display: block;
    width: 400px;
    margin: auto auto 4rem auto;
}

mat-form-field{
    display: block;
}

button{
    display: block;
    width: 100%;
}

mat-checkbox{
    margin-bottom: 1rem;
}

mat-spinner{
    margin: auto;
}