<mat-toolbar color="primary">
    <span *ngIf="!isAuth">
        <a routerLink="/">WesternSearch</a>
    </span>
    <span *ngIf="isAuth">
        <a>WesternSearch</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="isAuth && isAdmin">
            <a mat-button routerLink="/admin-dashboard" routerLinkActive="mat-accent">Admin Access</a>
        </li>
        <li>
            <a mat-button routerLink="/search" routerLinkActive="mat-accent">Find Courses</a>
        </li>
        <li *ngIf="!isAuth">
            <a mat-button routerLink="/public" routerLinkActive="mat-accent">Public Schedules</a>
        </li>
        <li *ngIf="!isAuth">
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!isAuth">
            <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
        </li>
        <li *ngIf="isAuth">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create a Schedule</a>
        </li>
        <li *ngIf="isAuth">
            <a mat-button routerLink="/schedules" routerLinkActive="mat-accent">View Schedules</a>
        </li>
        <li *ngIf="isAuth">
            <button mat-button routerLink="/changePassword" routerLinkActive="mat-accent">Change Password</button>
        </li>
        <li *ngIf="isAuth">
            <button mat-button (click)="onLogout()" >Logout</button>
        </li>
    </ul>
</mat-toolbar>
