ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.spacer{
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

.mat-toolbar.mat-primary {
    background: #05ff65;
    color: #fff;
}