<main>
    <mat-card>
        <h1>Login</h1>
        <mat-spinner *ngIf="isLoading" ></mat-spinner>
        <form *ngIf="!isLoading" [formGroup]="form" (submit)="login()" >
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input 
                matInput 
                type="email" 
                formControlName="email" >
                <mat-error *ngIf="form.get('email').invalid" >Invalid email, please enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input 
                matInput 
                type="password" 
                formControlName="password" >
                <mat-error *ngIf="form.get('password').invalid" >Invalid password, please enter valid password.</mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="form.get('email').invalid || form.get('password').invalid" >Login</button>
        </form>
        <small>By logging in or registering you agree to this websites policies.</small>
        <p>Dont have an account? Feel free to register! <a routerLink="/register">Register</a></p>
    </mat-card>
</main>
