<mat-card *ngIf="!isLoading">
    <h1>{{ title }}</h1>
    <p>{{ course.catalog_description }}</p>
    <table>
        <tr>
            <th>Section</th>
            <th>Component</th>
            <th>Class Number</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Days</th>
            <th>Campus</th>
            <th>Instructor</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ course.subject }}</td>
            <td [ngClass]="setComponent()" >{{ course.course_info[0].ssr_component }}</td>
            <td>{{ course.course_info[0].class_nbr }}</td>
            <td>{{ course.course_info[0].start_time }}</td>
            <td>{{ course.course_info[0].end_time }}</td>
            <td>{{ course.course_info[0].days }}</td>
            <td>{{ course.course_info[0].campus }}</td>
            <td>{{ course.course_info[0].instructors }}</td>
            <td>{{ course.course_info[0].enrl_stat }}</td>
        </tr>
    </table>
</mat-card>

<mat-card>
    <h1>Create Review</h1>
    <form [formGroup]="form" (submit)="addReview()" >
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea
            rows="6"
            matInput 
            type="text" 
            formControlName="comment" ></textarea>
            <mat-error *ngIf="form.get('comment').invalid" >Please enter valid comment</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="form.get('comment').invalid" >Save</button>
    </form>
</mat-card>
<mat-spinner *ngIf="isLoading" ></mat-spinner>
<app-review-list *ngIf="!isLoading" [reviews]="course.reviews" [pageSlice]="pageSlice" ></app-review-list>

